* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #cf2452 , #da6062 50% , #da3062 60% , #CF2425 );
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

}

header{
    height: 100px;
    display: flex;
    color: #ffffff;
    align-items: center;
    gap: 24px;
    margin-left: 15px;
    margin-top: 15px;
}

header span{
    font-weight: 600;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-logo{
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.content-text{
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    width: 240px;
    transform: translateX(-100%);
    font-weight: 500;
}

footer{
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 75px;
}
